configuration {
terminal: "/usr/bin/kitty";
icon-theme: "Tokyonight-Dark";
sidebar-mode: false;
click-to-exit: true;
window-thumbnail: true;
display-window: " Running Windows";
display-ssh: "󰒍 SSH Connexions";
display-drun: " App Menu";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "themes/Arc-Dark.rasi"
